body {
  background-color: #505050;
  background: #505050 url('../images/bg.png') top repeat-x;
  font-family: Arial, sans-serif;
  color: #fff;
}

.main-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 30px 0;
  &__logo {
    img {
      display: inline-block;
      max-width: 100%;
    }
  }
  &__what {
    max-width: 226px;
    span {
      display: block;
      color: #aad375;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    p {
      font-size: 13px;
    }
  }
  &__ferex {
    display: flex;
    max-width: 315px;
    font-size: 13px;
    img {
      display: inline-block;
      margin-right: 15px;
    }
    a {
      color: #aad375;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: #CEE8AD;
      }
    }
  }
  &__numbs {
    max-width: 290px;
    margin-left: 50px;
    font-size: 13px;
    color: #A3A3A3;
    span {
      display: inline-block;
      margin-right: 10px;
      font-size: 18px;
      color: white;
    }
    a {
      color: #aad375;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: #CEE8AD;
      }
    }
    &_big {
      font-size: 24px !important;
    }
  }
}

.main-breadcrump {
  margin: 25px 0 15px;
  color: #8bc641;
  font-size: 14px;
  span {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  a {
    color: #8bc641;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: #CEE8AD;
    }
  }
}

.main-sidebar {
  background-color: #5c5c5c;
  border-radius: 7px;
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        display: block;
        padding: 20px 20px;
        color: #fffefe;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        box-shadow: 0 1px 0 #848484;
        text-decoration: none;
        transition: all 0.1s ease-out;
        &:hover,
        &:active,
        &:focus {
          background-color: #ececec;
          text-decoration: none;
          color: #505050;
        }
      }
      &:first-child {
        a {
          border-radius: 7px 7px 0 0;
        }
      }
    }
  }
  &__footer {
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #ECECEC 39%);
    padding: 20px 14px;
    border-radius: 0 0 7px 7px;
    a {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      transition: all 0.1s ease-out;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        img {
          transform: scale(1.1);
        }
        span {
          color: #83ba3c;
        }
      }
      img {
        display: inline-block;
        margin-right: 15px;
        transition: all 0.2s ease-out;
      }
      span {
        color: black;
        text-decoration: underline;
      }
    }
  }
}

.main-description {
  color: white;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #addf6c;
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
  }
  p {
    margin-bottom: 20px;
    color: white;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    font-weight: 700;
  }
  h4 {
    font-size: 20px;
  }
  a {
    color: #8bc641;
    text-decoration: underline;
    &:hover {
      color: #aad375;
      text-decoration: none;
    }
  }
  blockquote {
    padding: 30px;
    background-color: #646464;
    border-color: #83ba3c;
    color: white;
    font-family: "Arial Narrow";
    font-size: 20px;
    font-style: italic;
    line-height: 1.2;
  }
}

.main-what {
  display: block;
  margin-top: 60px;
  margin-bottom: 45px;
  color: white;
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
}

.lights-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.lights-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 150px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  background: url('../images/card_bg.png') no-repeat center;
  background-size: cover;
  text-decoration: none;
  transition: all 0.1s ease-out;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    span {
      color: #addf6c;
      text-decoration: none;
    }
  }
  img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 110px;
    object-fit: contain;
  }
  span {
    display: inline-block;
    max-width: 100px;
    padding-left: 10px;
    color: white;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: underline;
  }
}

.get-order {
  display: block;
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 48px 68px;
  background: url('../images/calc.jpg') no-repeat center;
  background-size: cover;
  border-radius: 10px;
  span {
    display: block;
    margin-bottom: 15px;
    color: white;
    font-family: Arial;
    font-size: 30px;
    font-weight: 700;
  }
  p {
    margin-bottom: 30px;
    color: white;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }
  a {
    display: inline-block;
    padding: 14px 52px;
    background-color: #8bc641;
    background-image: linear-gradient(to top, #65922b 0%, #8bc641 100%);
    border-radius: 3px;
    color: #fefefe;
    font-family: Arial;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      background: #fff;
      color: #8bc641;
      text-decoration: none;
    }
  }
}

.our-works {
  padding: 50px 60px;
  background-color: #353535;
  border-radius: 10px;
}

.our-works__title {
  display: block;
  margin-bottom: 25px;
  color: white;
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.our-works-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.our-works__card {
  display: inline-flex;
  flex-flow: column nowrap;
  max-width: 250px;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #8bc641;
    text-decoration: none;
    span {
      color: #8bc641;
      text-decoration: none;
    }
  }
  img {
    display: inline-block;
    width: 100%;
    height: 190px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: all 0.15s ease-out;
  }
  span {
    display: block;
    color: white;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    transition: all 0.15s ease-out;
  }
}

.about-info {
  display: block;
  margin-top: 50px;
  color: white;
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.pre-footer {
  margin-top: 50px;
  padding: 10px 0;
  background: #6C6C6C;
  text-align: center;
}

.pre-footer__nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    a {
      display: inline-block;
      padding: 0 10px;
      color: #aad375;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: #8bc641;
      }
    }
  }
}

.pre-footer__nav_life-hack {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: white;
}

.main-footer {
  padding: 20px 0;
  background: url('../images/footer.png') top repeat-x;
  line-height: 1.2;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    .main-footer__creators {
      img {
        transform: rotate(3600deg);
      }
    }
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__creators {
    display: flex;
    align-items: center;
    max-width: 320px;
    img {
      display: inline-block;
      margin-right: 15px;
      transition: all 2s ease-in-out;
    }
    a {
      display: inline-block;
      color: #aad375;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: #8bc641;
      }
    }
  }
}

.products-title {
  display: block;
  margin-bottom: 30px;
  color: white;
  font-family: Arial;
  font-size: 36px;
  font-weight: 400;
}

.products-about {
  margin-bottom: 50px;
  color: white;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #addf6c;
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
  }
  p {
    margin-bottom: 20px;
    color: white;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    font-weight: 700;
  }
  h4 {
    font-size: 20px;
  }
  a {
    color: #8bc641;
    text-decoration: underline;
    &:hover {
      color: #aad375;
      text-decoration: none;
    }
  }
  blockquote {
    padding: 30px;
    background-color: #646464;
    border-color: #83ba3c;
    color: white;
    font-family: "Arial Narrow";
    font-size: 20px;
    font-style: italic;
    line-height: 1.2;
  }
}

.products-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px;
  background: url('../images/products_bg.png') no-repeat center;
  background-size: 100% 100%;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #8bc641;
    span {
      color: #8bc641;
    }
  }
  img {
    display: inline-block;
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
  }
  span {
    display: inline-block;
    margin-left: 100px;
    color: white;
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    transition: all 0.15s ease-out;
  }
}

.product-head {
  display: flex;
  margin-bottom: 80px;
  color: white;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  img {
    display: inline-block;
    width: 330px;
    height: 330px;
    margin-right: 30px;
    object-fit: contain;
    object-position: center;
  }
  a {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 52px;
    background-color: #8bc641;
    background-image: linear-gradient(to top, #65922b 0%, #8bc641 100%);
    border-radius: 3px;
    color: #fefefe;
    font-family: Arial;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      background: #fff;
      color: #8bc641;
      text-decoration: none;
    }
  }
  &__title {
    display: block;
    margin-bottom: 30px;
    color: #addf6c;
    font-family: Arial;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
  }
}

.product-title {
  display: block;
  margin-bottom: 40px;
  color: #fefefe;
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
}

.product-tab {
  color: #fefefe;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  &__title {
    display: block;
    margin-bottom: 15px;
    color: #fefefe;
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
  }
  &__btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 52px;
    background-color: #8bc641;
    background-image: linear-gradient(to top, #65922b 0%, #8bc641 100%);
    border-radius: 3px;
    color: #fefefe;
    font-family: Arial;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      background: #fff;
      color: #8bc641;
      text-decoration: none;
    }
  }
  &__gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      object-position: center;
    }
  }
  &__download {
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #8bc641;
      text-decoration: none;
      img {
        transform: scale(1.1);
      }
      span {
        color: #addf6c;
        text-decoration: none;
      }
    }
    img {
      display: inline-block;
      margin-right: 10px;
      transition: all 0.15s ease-out;
    }
    span {
      color: #fefefe;
      font-family: Arial;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      text-decoration: underline;
      transition: all 0.15s ease-out;
    }
  }
}