@media (max-width: 1200px) {
  .navbar-default {
    background-size: cover;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-header {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .main-header__what {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  .main-header__numbs {
    margin: 0;
    text-align: center;
  }
  .main-header__numbs_big {
    font-size: 18px !important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  .main-sidebar {
    margin-bottom: 20px;
  }
  .main-description__title {
    margin-bottom: 15px;
  }
  .main-description p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .main-what {
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .lights-cards {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .get-order {
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 20px;
    span {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 10px;
    }
  }
  .our-works {
    padding: 20px;
  }
  .our-works-cards {
    justify-content: space-around;
  }
  .our-works__card {
    margin-bottom: 15px;
  }
  .about-info {
    margin-top: 15px;
    font-size: 16px;
  }
  .pre-footer {
    margin-top: 20px;
  }
  .pre-footer__nav_life-hack {
    display: none;
  }
  .main-footer {
    .container {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }
  .main-footer__creators {
    margin-top: 15px;
  }
  .navbar-nav > li > a {
    background: none;
  }
  .products-card {
    img {
      max-width: 100%;
    }
  }
  .products-card span {
    margin-left: 20px;
    font-size: 24px;
  }
  .product-head {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    img {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
  .product-head__title {
    margin-bottom: 15px;
  }
  .product-title {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .main-content {
    padding-left: 30px;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
  //.dropdown-submenu:hover>.dropdown-menu {
  //display: block;
  //}
}

@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}