.navbar {
  min-height: auto;
  margin-bottom: 0;
  border: none;
}

.navbar-default {
  background: url('../images/topmenu.png') left repeat-x;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid #aae95c;
  border-bottom: 1px solid #28431f;
  border-radius: 5px;
  box-shadow: none;
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.navbar-nav li:first-child a {
  background: none;
}

.navbar-nav>li>a {
  line-height: 1;
  padding: 0 40px;
  text-shadow: 0 -1px 0 #58832f;
  display: block;
  color: #fff !important;
  text-decoration: none;
  line-height: 38px;
  background: url('../images/topmenu_sep.png') left no-repeat;
  transition: all 0.2s ease-out;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    text-shadow: 0 -1px 0 #58832f, 0 0 15px #fff;
  }
}

.table>thead>tr>th {
  border-top: 2px solid #81b83b !important;
  border-bottom: 2px solid #81b83b !important;
  vertical-align: middle;
}

.table>thead>tr>th,
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>th,
.table>tfoot>tr>td {
  border-color: #6a6a6a;
  vertical-align: middle;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  margin-top: 2px;
  background-color: #717171;
  border: none;
  box-shadow: 4px -10px 10px #505050;
  color: #fefefe;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  z-index: 1;
}

.nav-tabs>li>a {
  padding: 16px 30px;
  background-color: #606060;
  border-radius: 5px 5px 0 0;
  //box-shadow: 4px -0.3px 10px #505050;
  color: #b5b5b5;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin-right: 0;
  z-index: 0;
}

.tab-content {
  padding: 20px 26px;
  background-color: #717171;
  border: none;
  z-index: 5;
}